*{
			margin: 0%;
			/*border: 1px solid purple;*/
		}
		.navbar{
			padding: 1.8%;
		}
        .navbar a{
        	text-decoration: none;
        	color: black;
        	font-size: 17px;
        	margin-left: 4%;
        	margin: 2.5%;
            font-weight: bold;
        }
        .navbar img{
        	vertical-align: middle;
        }
        #signin{
        	margin-left: 8%;
        	border-radius: 25px;
        	padding: 0.4% 0.7%;
        	color: white;
        	background-color: #00baf2;
        }
        .signin2{
        	background-color: darkblue;
        }
        .msg{
            text-align: center;
            background-color: gray;
            padding: 1%;
            font-size: 16px;
            }
            .main{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 5% 8%;
        }
        
        .pay{
            margin-right: 7%;
            padding-bottom: 7%;
        }
        
       

        .download{
            background-color: black;
            color: white;
            font-size: 17px;
            width: 36%;
            padding: 1%;
            text-align: center;
            border-radius: 25px;
        }
        .download: hover{
           background-color: white;
           color: black;
        }
        
          
           
        .limit{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
           }
           .bill5{
            font-size: 20px;
            padding: 3%;
        }
        .most{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
           }
           .bill6{
            font-size: 20px;
            padding: 3%;
        }
        .main6{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 0% 3%;
        }
        .bank{
            margin-left: 10%;
            padding-top: 7%;
            font-size: 40px;
            padding-bottom: 3%;
            font-weight: bold;
        }
         .app3{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
           
           }
           .bill7{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .main7{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            }
         .app4{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
           
           }
           .bill8{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .main8{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 3%;
            margin-left: 5%;
            }
        .app5{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;

           
           }
           .bill9{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .main9{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            }
         .app6{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
           
           }
           
           .offer{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .business{
            margin-left: 10%;
            padding-top: 7%;
            font-size: 40px;
            padding-bottom: 3%;
            font-weight: bold;
        }
        .server{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            margin: 6%;
            }
        .accept{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold; 
           }
          .grow{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .server1{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            margin: 6%;
            }
        .accept1{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold; 
            padding: 3% 0% 0% 3%;
           }
          .small{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
            