*{
			margin: 0%;
			/*border: 1px solid purple;*/
		}
		.navbar{
			padding: 1.8%;
		}
        .navbar a{
        	text-decoration: none;
        	color: black;
        	font-size: 17px;
        	margin-left: 4%;
        	margin: 2.5%;
            font-weight: bold;
        }
        .navbar img{
        	vertical-align: middle;
        }
        #signin{
        	margin-left: 8%;
        	border-radius: 25px;
        	padding: 0.4% 0.7%;
        	color: white;
        	background-color: #00baf2;
        }
        .signin2{
        	background-color: darkblue;
        }
        .msg{
            text-align: center;
            background-color: gray;
            padding: 1%;
            font-size: 16px;
            }
            .main{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 5% 8%;
        }
        .app{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;

        }
        .pay{
            margin-right: 7%;
            padding-bottom: 7%;
        }
        
        .bill{
            font-size: 20px;
            padding: 0.9%;
        }
        .download{
            background-color: black;
            color: white;
            font-size: 17px;
            width: 36%;
            padding: 1%;
            text-align: center;
            border-radius: 25px;
        }
        .download: hover{
           background-color: white;
           color: black;
        }
        .sec3 a{
            justify-content: space-evenly;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            display: inline-table;
            margin-left: 5%;
            }
            .reach{
                margin-left: 4%;
                font-size: 25px;
                padding-top: 4%;
            }
            .sec4 a{
            justify-content: space-evenly;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            display: inline-table;
            text-align: right;
            }
            .book{
                margin-left: 5%;
                font-size: 25px;
                padding-top: 4%;
            }
            .app2{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            padding-bottom: 3%;

        }
        .bill2{
            font-size: 20px;
            padding: 3%;
        }
        .download2{
            background-color: black;
            color: white;
            font-size: 15px;
            width: 40%;
            padding: 1%;
            text-align: center;
            border-radius: 40px;
        }
        .main2{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 5% 8%;
            background-color: white;
        }
        .instrument{
            margin-left: 7%;
            padding-top: 7%;
            font-size: 30px;
        }
        .wallet{
            text-decoration: none;
            font-size: 25px;
            padding-bottom: 3%;
        }
        .sec3{
          background-color: skyblue;
          color: white;
         padding-bottom: 3%;
        }
        .sec4{
            background-color: blue;
            color: white;
            padding: 4%;
        }
        .head2 p{
            color: white;
        }
        .head3 p{
            color: white;
        }
        .main3{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 5% 8%;
        }
        .upi{
            text-decoration: none;
            font-size: 25px;
            padding-bottom: 3%;
        }
        .any{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
           }
           .bill3{
            font-size: 20px;
            padding: 3%;
        }
        .download3{
            background-color: black;
            color: white;
            font-size: 17px;
            width: 40%;
            padding: 1%;
            text-align: center;
            border-radius: 25px;
        }
        .main4{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 5% 8%;
        }
        .want{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
           }
           .learn{
            margin: 6% 6% 0% 12%;
            background-color: blue;
            color: white;
            padding: 4% 4%;
            text-align: center;
            width: 20%;
            border-radius: 30px;
            font-size: 20px;
           }
           .bill4{
            font-size: 20px;
            padding: 3%;
        }
        .main5{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 5% 8%;
            margin-left: 5%;
        }
        .limit{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
           }
           .bill5{
            font-size: 20px;
            padding: 3%;
        }
        .most{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
           }
           .bill6{
            font-size: 20px;
            padding: 3%;
        }
        .main6{
            display: flex;
            justify-content: space-around;
            padding: 5% 0% 0% 3%;
        }
        .bank{
            margin-left: 10%;
            padding-top: 7%;
            font-size: 40px;
            padding-bottom: 3%;
            font-weight: bold;
        }
         .app3{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
           
           }
           .bill7{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .main7{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            }
         .app4{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
           
           }
           .bill8{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .main8{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 3%;
            margin-left: 5%;
            }
        .app5{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;

           
           }
           .bill9{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .main9{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            }
         .app6{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
           
           }
           
           .offer{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .business{
            margin-left: 10%;
            padding-top: 7%;
            font-size: 40px;
            padding-bottom: 3%;
            font-weight: bold;
        }
        .server{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            margin: 6%;
            }
        .accept{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold; 
           }
          .grow{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
        .server1{
            display: flex;
            justify-content: space-around;
            padding: 7% 0% 0% 7%;
            background-color: aliceblue;
            margin: 6%;
            }
        .accept1{
            font-size: 40px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-weight: bold; 
            padding: 3% 0% 0% 3%;
           }
          .small{
            font-size: 25px;
            padding-bottom: 1.5%;
        }
            